<div id="one">
  <h3>Build a simple attribute directive</h3>
  <p appHighlight>Highlight me!</p>
</div>
<hr>

<div id="two">
  <h3>Respond to user-initiated events</h3>
  <p appHighlighter>Highlight me!</p>
</div>
<hr>

<div id="three">
  <h3>Pass values into the directive with an @Input data binding</h3>
  <p appHighlightMe highlightColor="yellow">Highlighted in yellow</p>
  <p appHighlightMe [highlightColor]="'orange'">Highlighted in orange</p>
  <p appHighlightMe [highlightColor]="color">Highlighted in cyan</p>
</div>
<hr>

<div id="four">
  <h3>Bind to an @Input alias</h3>
  <p [appHighlightAlias]="color">Highlight me!</p>
  <p [appHighlightAlias]>Highlight me!</p>
</div>
<hr>

<div id="five">
  <h3>Harness</h3>
  <h4>Pick a highlight color</h4>
  <div>
    <input type="radio" name="color" (click)="color='lightgreen'">Green
    <input type="radio" name="color" (click)="color='yellow'">Yellow
    <input type="radio" name="color" (click)="color='cyan'">Cyan
  </div>
  <p [appHighlightAlias]="color" defaultColor="violet">Highlight me !</p>
  <p [appHighlightAlias] defaultColor="violet">Highlight me !</p>
</div>
<hr>
